.text-content {
    width: 50%;
    padding-right: 1%;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 5%;
  }



 #about-droom {
    width: 100%;
    border-bottom: 2px solid black;
    margin-top: 1% 0;
    display: flex; 
    flex-direction: column;
    text-align: center;
    align-items: center; 
    font-size: 4rem;
    color: white;
    padding-top:7%;
    padding-bottom: 7%;
    background-image: url(/img/bgdesk.jpg);
    background-repeat: no-repeat;
    background-position: center ;
    background-size: cover;
   
  
  #about-droom .text-content .btn{
     display: flex;
     flex-direction: column;
      align-items: center;
  }
}

 

  
  #seeker {
    width: 100%;
    padding-bottom: 0%;
    display: flex; 
    justify-content: center;
    flex-direction: row-reverse;
    font-size: 2rem;
    color: black;
    background-color: white;
    
    .text-content {
     margin-top: 15%;
  
  .img-content  {
    width: 52%;
    align-items: left;
  }
 }
}

  .home .employer {
    width: 100%;
    padding-bottom: 0%;
    margin-top: 5% 0;
    display: flex; 
    justify-content: space-around;
    font-size: 2rem;
    color: black;
    background-color: white;
    
    .text-content {
        margin-top: 15%;
    
  .img-employer{
    width: 50%;
    align-items: left;
  }
 }
}

  #features {
    width: 100%;
    padding-bottom: 0%;
    border-bottom: 2px solid black;
    margin: 0px 0;
    display: flex; 
    justify-content: space-evenly;
    flex-direction: row-reverse;
    font-size: 2rem;
    color: black;
    background-color: white;
    
    .text-content {
        margin-top: 15%;

  
  .img-feature{
      width: 52%;
      align-items: left;
  }
 }
}

